@import url('../global.out.css');



body {
  --color-primary: #123e63;
  --color-primary-lighter: #008bff;
  --color-secondary: #091f34;
  --color-yellow-lighter: #cc920a;
  --color-pastel-red: #b04a43;
  --color-pastel-green: #6fb26b;
  --color-pastel-black: #444444;
  --color-primary-hover: #1d639e;
}

button {
  font-family: 'Outfit', serif;
  font-weight: 300;
}



.dummy-area {
  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.5);
}

.dummy-container {
  position: relative;
  top: 50%;
  left: 50%;

  width: 40%;
  height: 70%;

  border-radius: 4px;

  transform: translate(-50%, -50%);
}

/* ======================================== */

/* History start */
.history-main-container {
  --grid-columns-template: 1fr 0.7fr 1fr 0.3fr;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 5%;

  background: var(--color-secondary);
}


.history-list__header {
  display: grid;
  grid-template-columns: var(--grid-columns-template);

  margin-bottom: 10px;
  padding-bottom: 2px;

  flex: 0 0 auto;
  width: 100%;

  border-bottom: 2px solid var(--color-primary-lighter);
}

.history-list__header > span {
  font-size: 0.8rem;
}


.history-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  list-style: none;

  overflow: auto;
}


.history-snapshot {
  display: grid;
  grid-template-columns: var(--grid-columns-template);

  margin: 3px 0;

  flex: 0 0 auto;
  width: 100%;

  text-align: left;
}

.history-snapshot * {
  align-self: center;
}

.history-snapshot__result {
  position: relative;

  max-width: 30px;
  max-height: 30px;
}

.history-snapshot__result > span {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;

  transform: translate(-50%, -50%);
}

.history-snapshot__payout > span {
  margin-left: 10px;
}
/* History end */

/* ======================================== */

/* Pagination */
.pagination-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  padding: 2% 30%;

  flex: 0 0 auto;
  width: 100%;

  border-top: 2px solid var(--color-primary-lighter);
}

.pagination-panel > button {
  flex: 0 0 15%;
}

.cur-page-pointer {
  color: var(--color-primary-hover);
}
/* Pagination end */

/* ======================================== */

/* Button start */
.default-btn {
  margin-right: 2px;

  border-left: 2px solid var(--color-primary-lighter);
  border-top: 2px solid var(--color-primary-lighter);
  border-right: 2px solid var(--color-primary);
  border-bottom: 2px solid var(--color-primary);
  border-radius: 4px;

  background: transparent;

  color: var(--color-text-default);
  font-size: 0.8rem;

  cursor: pointer;
}

.default-btn:hover {
  color: var(--color-primary-hover);
}

.default-btn:active, .default-btn:focus {
  border-left: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary-lighter);
  border-bottom: 2px solid var(--color-primary-lighter);

  outline: none;
  background: transparent;
}
/* Button end */



.modal-footer {
  
}
