@font-face {
  font-family: 'Outfit';
  src: url('../font/outfit/Outfit-Regular.ttf') format('truetype')
  , url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap') format('truetype');
}


body {
    --color-text-default: #eae6e1;
    --color-background: #0b151d;
    --color-primary-lighter: #008bff;
    --color-pastel-red: #b04a43;
    --color-pastel-green: #6fb26b;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    width: 100%;
    height: 100%;

    background: var(--color-background);
    color: var(--color-text-default);
    font-family: 'Outfit', serif;
}

main {
    flex: 1 0 auto;
}


li.inherit-height, a[href="/login"] {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 64px;
}

a[href="/login"] {
  width: 100%;
}

a[href="/login"] > img {
  display: block;

  height: 60%;
}


/* #scrollbar */
::-webkit-scrollbar {
  width: 5px;

  background-color: #091f34;
}

::-webkit-scrollbar:hover {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #123e63;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc920a;
}


.container {
  margin: 0 auto;
}

.green {
    background-color: #424242 !important;
}

.horizon-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.roulette-rad-grad-bg {
    background: radial-gradient(ellipse 70% 50%, #111111, var(--color-secondary));
}

.logout-form {
  display: none;
}

.logout-btn {
  width: 100%;
  height: 100%;

  padding-left: 16px;

  border: none;

  background: transparent;
  color: var(--color-pastel-red);
  font-weight: 600;
  text-align: left;
}

.logout-btn:active {
  background: transparent;
}


#user-dropdown {
  border-radius: 2px;

  background: var(--color-secondary);

  box-shadow: 0 6px 10px 0 var(--color-background);
}


#roulette {
    position: relative;

    overflow-x: auto;
    overflow-y: hidden;
    height: 140px;
    white-space: nowrap;
    /* width: 87.49%; */
}

#roulette .wheel {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 75px;

    background: linear-gradient(90deg, #091f34 0%, #111111 20%, #111111 80%, #091f34);
}

#case {
    width: 100%;
    max-width: 1050px;
    height: 69px;
    background-image: url(../img/cases.png);

    box-shadow: inset 8px 0px 6px -6px #111111,
        inset -8px 0 6px -6px #111111;
}

.btn.red {
    width: 30%;
    margin-left: 1.8%;
    background-color: #ba554a !important;
    color: #fff !important;
}

.btn.green {
    width: 30%;
    margin-left: 3%;
    background-color: #73b970 !important;
    color: #fff !important;
}

.btn.black {
    width: 30%;
    margin-left: 3%;
    background-color: #4c4c4c !important;
    color: #fff !important;
}

#pointer {
    position: absolute;
    left: 50%;
    top: 0;

    width: 3px;
    height: 100%;

    background: radial-gradient(ellipse 100% 50%, var(--color-primary-lighter) 0%, #091f34 100%);
}

#betAmount {
  color: var(--color-text-default);
}

.redbet {
    width: 28%;
    margin-left: 2.6%;
    display: inline-block;
    vertical-align: text-top;
    color: #ba554a;
}

.greenbet {
    color: #72ba6f;
    width: 28%;
    margin-left: 5.6%;
    display: inline-block;
    vertical-align: text-top;
}

.blackbet {
    width: 28%;
    margin-left: 5.6%;
    display: inline-block;
    vertical-align: text-top;
    color: #4c4c4c;
}

.ball {
    color: white;
    cursor: default;
    border-radius: 45px;
    border: 1px solid transparent;
    width: 45px;
    height: 45px;
    background-color: #000;
    font-size: 17px;
    line-height: 45px;
    padding: 0;
    text-align: center;
    display: inline-block;
    margin: 1px;
}

.ball-0 {
    background-color: #6fb26b;
    border: 0px !important;
}

.ball-1 {
    background-color: #b04a43;
    border: 0px !important;
}

.ball-8 {
    background: #454545;
    border: 0px !important;
}

#nav-chat {
    display: flex;
    flex-flow: column;
    padding-bottom: 0;
    height: 100%;
}

#nav-chat .discussion {
    background-color: #e5e5e5;
}


.discussion {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 0;
}

.discussion.wrapper {
    flex: 2;
    overflow: auto;
}

.discussion.input {
    min-height: 70px;
    width: 350px;
}

.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.discussion li:hover {
    background: none;
}

.discussion .avatar {
    width: 40px;
    position: relative;
}

.discussion .avatar a {
    padding: 0;
}

.discussion .avatar img {
    display: block;
    width: 100%;
}

.discussion .avatar img.circle {
    position: relative;
    top: 0;
    left: 0;
}

.discussion .avatar img.send {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

#nav-chat .messages {
    background-color: white;
    color: #000;
}


#nav-chat .self .messages::before {
    border-color: #FFF transparent transparent #FFF;
}


#nav-chat .other .messages::before {
    border-color: #FFF #FFF transparent transparent;
}


.other .messages {
    margin-left: 10px;
}

.other .messages:before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
}

.self .messages {
    order: 1;
    margin-right: 10px;
}

.self .avatar {
    order: 2;
}

.self .messages:before {
    content: "";
    position: absolute;
    top: 0;
    right: -9px;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.messages {
    position: relative;
    display: block;
    background: white;
    padding: 10px;
    border-radius: 2px;
    word-wrap: break-word;
}

.messages h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    max-width: 264px;
}

.messages p {
    font-size: 1em;
    margin: 0 0 -3px;
    max-width: 264px;
}

.messages time {
    font-size: 0.8rem;
    color: #ccc;
}

.messages textarea {
    padding: 0;
    margin: 0;
    height: 0;
    min-height: 1.7rem;
    border-bottom: none;
}

.self.input .messages {
    width: 100%;
}

.inventory .row {
    margin: 4px 0 0 4px;
}


.item {
    cursor: pointer;
    margin-bottom: 4px;
    overflow: hidden;
    height: 95px;
    width: 95px;
    position: relative;
    background-color: #b0c3d9;
}

.item .helper, .deposit-item-container .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.item img {
    width: auto;
    height: auto;
    vertical-align: middle;
}



.modal-content {
  background: var(--color-secondary);
}

.modal-content h4 {
  text-align: left;
}

.modal.modal-fixed-footer .modal-footer {
  position: static;

  margin-top: 10px;

  border-top: 2px solid var(--color-primary-lighter);
}

.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 0;

  width: 100%;

  background-color: var(--color-secondary);
}

.modal-close-btn {
  margin-top: 10px;

  border: 1px solid var(--color-pastel-red);

  color: var(--color-pastel-red);
}

#account-save-btn, #account-drop-btn {
  margin-top: 0;
  margin-bottom: 0;
}



.content-bg-primary {
  background: var(--color-primary);
}
.content-bg-pastel-green {
  background: var(--color-pastel-green);
}
