@using Microsoft.AspNetCore.SignalR.Client
@inject IJSRuntime jsRuntime
<button class="btn btn-success" @onclick="async () => await ConnectToServerAsync()" disabled="@isConnected">Connect</button>

@code {

    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("Resize");
            StateHasChanged();
        }
    }

    int _currentNumber = 0; // todo get lask from database
    readonly string url = "http://localhost:63945/notificationhub"; //todo move to config

    HubConnection _connection;
    bool isConnected;

    private async Task ConnectToServerAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(url)
            .Build();

        await _connection.StartAsync();
        isConnected = true;

        _connection.Closed += async (s) =>
        {
            isConnected = false;
            await _connection.StartAsync();
            isConnected = true;
        };

        _connection.On<string>("notification", m =>
        {
            notifications.Add(m);
            StateHasChanged();
        });
    }


    private async Task Roll(string value)
    {
        int number = int.Parse(value);
    // sample random generation for tests
        Random random = new Random();
        number = random.Next() % 14;
    //sample random generation for tests
        var numWidth = 1050 / 15;
        var layout = new List<int> {1, 14, 2, 13, 3, 12, 4, 0, 11, 5, 10, 6, 9, 7, 8};

        int GetMoves()
        {
            var to = layout.IndexOf(number);
            var at = layout.IndexOf(CurrentNumber);
            if (to > at)
            {
                return to - at;
            }
            return layout.Count - at + to;
        }

        var currentPos = await jsRuntime.InvokeAsync<int>("GetCurrentPos");

        await jsRuntime.InvokeVoidAsync("Animate", currentPos, numWidth, GetMoves());
        CurrentNumber = number;
    }

}