@using Roulette.Views
@using Roulette.Views.Shared
@model Roulette.Models.HomeModel
<!DOCTYPE html>
<html>
<head>
	@{
		Layout = "_Layout";
		ViewData["Title"] = "Roulette";

	}
	<link rel="stylesheet" href="~/css/materialize.css">
	<link rel="stylesheet" href="~/css/home.css">
	<link rel="stylesheet" href="~/css/referral.css">
	<link rel="stylesheet" href="~/css/history/history.css">
	<meta name="steamid" content="@Context.Request.Cookies["SteamId"]" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="js/jquery-3.5.1.min.js"></script>


	<script src="js/materialize.js"></script>
	<script src="js/timer.js"></script>
	<script src="js/scriptLoader.js"></script>

</head>
<body>

	@await Html.PartialAsync("navbar", Model)

	<component type="typeof(App)" render-mode="ServerPrerendered" />

	<component type="typeof(Modal)" render-mode="ServerPrerendered" />

	<script type="text/javascript" src="~/js/home.js"></script>
	<script src="js/jquery-ui.js"></script>
</body>
</html>
