@using AngleSharp.Io
@using Microsoft.AspNetCore.Http
@using Roulette.Controllers
@using Roulette.Views
<!DOCTYPE html>
<html>
<head>
    @{
        Layout = "_Layout";
        ViewData["Title"] = "Roulette";

    }
    <link rel="stylesheet" href="~/css/materialize.css">
    <link rel="stylesheet" href="~/css/home.css">
    <meta name="steamid" content="@Context.Request.Cookies["SteamId"]"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/timer.js"></script>  
    <script src="js/scriptLoader.js"></script>

</head>
<body>

@Html.Partial("navbar")

<component type="typeof(App)" render-mode="ServerPrerendered"/>
<main>

    <div class="container" style="margin-left: 10%;">
        <div class="row">

            <div class="col s8" style="width: 87.49%;">
                <div class="card-panel">
                    <div class="timer" style="background-color: #ba554a;width: 100%;height: 20px;">
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card-panel" id="roulette">
                    <div class="wheel">
                        <div id="case" style="" class="0">
                            <div id="pointer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12" style="width: 61.24%;">
                <div class="card-panel">
                    <div style="text-align: center;">
                        <div id="past">
                            <!--  add last plays result  -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12" style="width: 26.45%;">
                <div class="card-panel" style="">
                    <input id="betAmount" type="number" placeholder="Bet Amount" step="0.01" style="height: 31px;">
                </div>
            </div>
            <div class="col s8" style="width: 87.49%;" id="betButtons">
                <div class="card-panel">
                    <button class="btn red" id="red">1-7</button>
                    <button class="btn green" id="green">0</button>
                    <button class="btn black" id="black">8-14</button>
                </div>
            </div>
            <div class="col s8" style="width: 87.49%;">
                <div class="card-panel">
                    <div class="rows">
                        <div class="redbet">
                            <div class="row">
                                <div class="name" style="float: left;">Player</div>
                                <div class="bet" style="float: right;">Bet</div>
                            </div>
                        </div>
                        <div class="greenbet">
                            <div class="row">
                                <div class="name" style="float: left;">Player</div>
                                <div class="bet" style="float: right;">Bet</div>
                            </div>
                        </div>
                        <div class="blackbet">
                            <div class="row">
                                <div class="name" style="float: left;">Player</div>
                                <div class="bet" style="float: right;">Bet</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>
<script type="text/javascript" src="~/js/home.js"></script>

</body>
</html>