@model Roulette.Models.HomeModel
<header>
    <nav role="navigation" class="primary">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo" style="font-weight: 300;">Roulette</a>
            <ul class="right hide-on-med-and-down" style="margin-right: 250px;">
                @{
                    //if (!string.IsNullOrEmpty(Context.Request.Cookies["SteamId"]))
                    if (!string.IsNullOrEmpty(Model?.User?.SteamID))
                    {
                        <li class="waves-effect">
                            <a class="modal-trigger secondary-text" href="">Deposit</a>
                        </li>
                        <li class="waves-effect">
                            <a class="modal-trigger secondary-text" href="">Withdraw</a>
                        </li>

                        <li>
                            <div id="balance" style="padding: 1px 6px;">Balance: @Model.User.Balance</div>
                        </li>
                        <li>
                            <a href="#" class="dropdown-trigger user" data-target="user-dropdown">
                                @Model.User.personaname
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <ul id="user-dropdown" class="dropdown-content" style="width: 117px; position: absolute; top: 0px; left: 1175.84px; opacity: 1; display: none;">
                                <li class="waves-effect">
                                    <a href="#modal-account" class="modal-trigger secondary-text">Account</a>
                                </li>
                                <li class="divider"></li>
                                <li class="waves-effect">
                                    <form id="selectLanguage" asp-controller="SteamUsers" asp-action="SignOut" asp-route-returnUrl="@Context.Request.Path" method="post" role="form">
                                        <button type="submit">LogOut</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/login">
                                <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" asp-append-version="true" alt=""/>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
</header>