@model Roulette.Models.HomeModel
<header>
    <nav role="navigation" class="primary" style="margin-bottom: 20px;">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo" style="font-weight: 300;">Roulette</a>
            <ul class="right hide-on-med-and-down" style="margin-right: 250px;">
                @{
                    //if (!string.IsNullOrEmpty(Context.Request.Cookies["SteamId"]))
                    if (!string.IsNullOrEmpty(Model?.User?.SteamID))
                    {
                        <li class="waves-effect">
                            <a href="~/Deposit" class="modal-trigger secondary-text">Deposit</a>
                        </li>

                        <li>
                            <div id="balance" style="padding: 1px 6px;">Balance: @Model.User.Balance</div>
                        </li>
                        <li>
                            <a href="#" class="dropdown-trigger user" data-target="user-dropdown">
                                @Model.User.personaname
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                            <ul id="user-dropdown" class="dropdown-content" style="width: 117px; position: absolute; top: 0px; left: 1175.84px; opacity: 1; display: none;">
                                <li class="waves-effect">
                                    <a href="#modal-account" class="modal-trigger secondary-text">Account</a>
                                </li>
                                <li class="divider"></li>
                                <li class="waves-effect">
                                    <a href="#modal-referral" class="modal-trigger secondary-text">Referrals</a>
                                </li>
                                <li class="divider"></li>
                                <li class="waves-effect">
                                    <a href="#modal-history" class="modal-trigger secondary-text">History</a>
                                </li>
                                <li class="divider"></li>
                                <li class="waves-effect horizon-flex">
                                    <button class="logout-btn" type="submit" form="selectLanguage">LogOut</button>
                                    <form class="logout-form" id="selectLanguage" asp-controller="SteamUsers" asp-action="SignOut" asp-route-returnUrl="@Context.Request.Path" method="post" role="form">
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="horizon-flex inherit-height">
                            <a href="/login">
                                <img src="https://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png" asp-append-version="true" alt=""/>
                            </a>
                        </li>
                    }

                    <li class="waves-effect chat-link">
                        <a href="#" data-target="nav-chat" class="chat sidenav-trigger show-on-large" onclick="scrollChatToBottom()">
                            <i class="material-icons">chat_bubble_outline</i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
