.main-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: ${deposit.main-container.padding} ${deposit.main-container.padding};

  width: 100%;
  height: 100%;

  max-width: ${deposit.main-container.max-width};
}



/* NOTE: Trade */

.trade-area {
  flex: 0 0 ${deposit.item-height};

  margin-bottom: 20px;
  padding: 10px ${deposit.additional-containers-padding} 0 ${deposit.additional-containers-padding};

  border: 2px solid ${deposit.trade-container.border-color};
  border-radius: 2px;
}


.trade-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: ${deposit.item-height};
}


.trade-bag {
  flex: 0 0 49%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-height: ${deposit.item-height};
  max-height: ${deposit.item-height};

  background-color: ${deposit.color.trade-bag};

  overflow: auto;
}


.trade-area__hint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  height: ${deposit.trade-area.hint.height};
}


.trade-area__hint span {
  display: inline-block;

  color: ${deposit.text-color.trade-area__hint};
  font-size: ${deposit.trade-area.hint.span.font-size};
}


.trade-interactive-panel {
  display: flex;
  justify-content: center;

  height: ${deposit.trade-interactive-panel.height};

  background-color: #123e63;
}


.trade-button {
  flex: 0 0 20%;
  position: relative;
  top: 4px;

  margin: 0 8px;

  border: none;
  border-radius: 23px;
  box-shadow: 0 3px 12px 0 ${deposit.color.background};

  cursor: pointer;

  background-color: ${deposit.trade-button.background-color};
  color: ${deposit.trade-button.font-color};
  font-size: ${deposit.trade-button.font-size};
}


.trade-interactive-panel__info-bar {
  flex: 0 1 100%;

  display: flex;

  padding-top: 4px;
}


.flex-align-left {
  justify-content: flex-start;
}

.flex-align-right {
  justify-content: flex-end;
}


.balance-hint, .balance-hint > span {
  font-size: ${deposit.balance-hint.font-size};
}



/* NOTE: Inventory */

.inventory-area {
  flex: 1 1 100%;

  display: flex;
  justify-content: space-between;

  padding: 0 ${deposit.additional-containers-padding};
}

.inventory-container {
  /* flex: 0 1 ${deposit.inventory-container.width}; */
  flex: 0 1 49%;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.inventory-interactive-panel {
  flex: 0 0 ${deposit.inventory-interactive-panel.height};

  display: flex;

  margin-bottom: 2px;

  width: 100%;
}

.inventory-interactive-panel * {
  background-color: ${deposit.inventory-interactive-panel.background-color};
}

.search-bar {
  flex: 1 0 30%;

  margin-right: ${deposit.inventory-container-spacing};
}

.refresh-btn, .drop-down-menu-btn {
  flex: 0 0 ${deposit.inventory-interactive-panel.height};

  margin-left: ${deposit.inventory-container-spacing};
}

.inventory-bag {
  flex: 1 1 100%;

  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);  /* NOTE: default value for (max-width > 1920px) */
  gap: ${deposit.inventory-bag.item-spacing} ${deposit.inventory-bag.item-spacing};

  padding: ${deposit.inventory-bag.item-spacing} ${deposit.inventory-bag.item-spacing};

  max-height: 70vh;

  background-color: ${deposit.inventory-bag.background-color};

  overflow: auto;
}



/* #inventory-item */
.inventory-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  max-height: ${deposit.inventory-item.max-height};  /* NOTE: default value for (max-width > 1920px) */

  background-color: ${deposit.inventory-interactive-panel.background-color};
}

.inventory-item:hover {
  background-color: ${deposit.item-hover.background-color};
}

.inventory-item__preview {
  flex: 1 1 auto;

  margin: 0 auto;

  width: 100%;
  max-height: 70%;  /* NOTE: == 100% - .inventory-item__info.flex-basis */
}

.inventory-item__preview > img {
  display: block;

  margin: 0 auto;

  width: 80%;
  height: inherit;
}

.inventory-item__info {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: 10px;

  width: 100%;
  height: 100%;
}

.inventory-item__info > span {
  flex: 0 0 auto;

  display: block;

  width: 100%;
}



/* #footer */
/* TODO:
    1) add content;
    2) resize;
*/
footer {
  width: 100%;
  min-height: 10vh;
}
