@import "../global.out.css";


body {
  background-color: #000000;
}


.main-container {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 10px 10px;

  width: 100%;
  height: 100%;

  max-width: 1920px;
}



/* NOTE: Trade */

.trade-area {
  flex: 0 0 200px;

  margin-bottom: 20px;
  padding: 10px 15px 0 15px;

  border: 2px solid #135d14;
  border-radius: 2px;
}


.trade-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 200px;
}

.trade-bag::-webkit-scrollbar {
  width: 5px;
}

.trade-bag::-webkit-scrollbar-button {
  background: red;
}


.trade-bag {
  flex: 0 0 49%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-height: 200px;
  max-height: 200px;

  background-color: #091f34;

  overflow: auto;
}


.trade-area__hint {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  height: 40px;

  /* background-color: #0e314e; */
}


.trade-area__hint span {
  display: inline-block;

  color: #6885a0;
  font-size: 0.8rem;
}


.trade-interactive-panel {
  display: flex;
  justify-content: center;

  height: 45px;

  background-color: #123e63;
}


.trade-button {
  flex: 0 0 20%;
  position: relative;
  top: 4px;

  margin: 0 8px;

  border: none;
  border-radius: 23px;
  box-shadow: 0 3px 12px 0 #000000;

  cursor: pointer;

  background-color: #0cb10f;
  color: #eae6e1;
  font-size: 20px;
}


.trade-interactive-panel__info-bar {
  flex: 0 1 100%;

  display: flex;

  padding-top: 4px;
}


.flex-align-left {
  justify-content: flex-start;
}

.flex-align-right {
  justify-content: flex-end;
}


.balance-hint, .balance-hint > span {
  font-size: 0.8rem;
}



/* NOTE: Inventory */

.inventory-area {
  flex: 1 1 100%;

  display: flex;
  justify-content: space-between;

  padding: 0 15px;

  background: #000000;
}

.inventory-container {
  /* flex: 0 1 725px; */
  flex: 0 1 49%;

  display: flex;
  flex-direction: column;

  height: 100%;
}

.inventory-interactive-panel {
  flex: 0 0 45px;

  display: flex;

  margin-bottom: 2px;

  width: 100%;
}

.inventory-interactive-panel * {
  background-color: #123e63;
}

.search-bar {
  flex: 1 0 30%;

  margin-right: 0.8px;
}

.refresh-btn, .drop-down-menu-btn {
  flex: 0 0 45px;

  margin-left: 0.8px;
}

.inventory-bag {
  flex: 1 1 100%;

  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);  /* NOTE: default value for (max-width > 1920px) */
  gap: 3px 3px;

  padding: 3px 3px;

  max-height: 70vh;

  background-color: #091f34;

  overflow: auto;
}



/* #inventory-item */
.inventory-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  max-height: 192px;  /* NOTE: default value for (max-width > 1920px) */

  background-color: #123e63;
}

.inventory-item:hover {
  background-color: #294860;
}

.inventory-item__preview {
  flex: 1 1 auto;

  margin: 0 auto;

  width: 100%;
  max-height: 70%;  /* NOTE: == 100% - .inventory-item__info.flex-basis */
}

.inventory-item__preview > img {
  display: block;

  margin: 0 auto;

  width: 80%;
  height: inherit;
}

.inventory-item__info {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: 10px;

  width: 100%;
  height: 100%;
}

.inventory-item__info > span {
  flex: 0 0 auto;

  display: block;

  width: 100%;
}



/* #footer */
/* TODO:
    1) add content;
    2) resize;
 */
footer {
  width: 100%;
  min-height: 10vh;
}
